.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 108px;
    border-bottom: 1px solid #c81523;
}
.logo {
    padding-top: 18px;
}

.loginarea {
    height: 350px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.loginarea h3 {
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
}
.loginarea .register {
    font-size: 14px;
    font-weight: 400;
    margin-right: 15px;
    float: right;
}
.loginarea .register a {
    color: #c81523;
}

.login_form {
    position: relative;
    width: 400px;
    margin: 50px auto 0;
}
.login_form ul li {
    margin-bottom: 20px;
}
.login_form ul li:nth-child(3) {
    position: absolute;
    right: 52px;
}
.login_form ul li:nth-child(3) a {
    color: #c81523;
}
.login_form ul li label {
    display: inline-block;
    width: 108px;
    text-align: right;
}
.login_form ul li .input {
    padding-left: 8px;
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
.loginbt {
    width: 200px;
    height: 34px;
    font-size: 14px;
    color: #fff;
    background-color: #c81523;
    margin-top: 45px;
    margin-left: 100px;
}
.loginbt:hover {
    cursor: pointer;
}

.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.links {
    margin-bottom: 15px;
}
.links a {
    margin: 0 3px;
}