<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页-好欢购欢迎您！</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/login.css">
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script>
        /**
         * 判断用户输入的手机号是否正确
         * @param obj   用户输入的手机号
         * @returns {boolean}
         */
        function checkPhoneNum(obj){
            if(/^((\d{3}-\d{8}|\d{4}-\d{7,8})|(1[3|5|7|8][0-9]{9}))$/.test(obj)){
                return true;
            }
        }

        $(document).ready(function (){
            var username = $("#username");
            var usernameFlag = false;

            var submit = $("#submit");

            username.on("blur",function (){
                if(checkPhoneNum(username.val())){
                    //  手机号格式输入正确
                    usernameFlag = true;
                }else {
                    //  手机号格式输入有误
                    usernameFlag = false;
                }
            })

            submit.on("click",function (){
                if(!usernameFlag){
                    $('#loginForm').preventDefault();
                    alert("手机号未正确填写！");
                }
            })
        })
    </script>
</head>
<body>
<div class="w">
    <header>
        <div class="logo">
            <h1>
                <a th:href="@{/index}" title="好欢购商城">好欢购商城</a>
            </h1>
        </div>
    </header>
    <div class="loginarea">
        <h3>
            欢迎回来
            <div class="register">
                还没有帐号？先去<a href="/toRegister">注册</a>
            </div>
        </h3>
        <div class="login_form">
            <form id="loginForm" method="post" th:action="@{/login}">
                <ul>
                    <li>
                        <label th:for="username">请输入您的用户名：</label>
                        <input type="text" class="input" placeholder="您的手机号或者邮箱" th:id="username" th:name="username">
                    </li>
                    <li>
                        <label th:for="userpassword">请输入您的密码：</label>
                        <input type="password" class="input" th:id="userpassword" th:name="password">
                    </li>
                    <li>
                        <a href="#">忘记密码</a>
                    </li>
                    <li>
                        <input type="submit" class="loginbt" id="submit" value="登录">
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <footer>
        <div class="mod_copyright">
            <div class="links">
                <a href="#">关于我们</a>  |  <a href="#">联系我们</a>  |  <a href="#">联系客服</a>  |  <a href="#">商家入驻</a>  |
                <a href="#">营销中心</a>  |  <a href="#">手机好欢购</a>  |  <a href="#">友情链接</a>  |   <a href="#">销售联盟</a>  |
                <a href="#">好欢购社区</a>  |  <a href="#">好欢购公益</a>  |  <a href="#">English Site</a>  |  <a href="#">Contact us</a>
            </div>
            <div class="copyright">
                地址：广东省广州市增城区广州应用科技学院C17-831  电话：17607541208  邮箱：2659901543@qq.com
            </div>
        </div>
    </footer>
</div>
</body>
</html>